<!-- <!DOCTYPE html>
<html>
<head>
	<title>
	Foodie
	</title>
</head>
<body>
<main class="main-container">
	<header> 
		<div class="label">Foodie</div>
	</header>
	<section>
	Super Deal!! Order online to get discount up to 40%...
	</section>
	<div class="content-area">
		<div class="main">
			<div class="article">
				<div>
                    <p><h2>Register now to order delicious food online!</h2>
                    <p>Order food online from the best restaurants near you</p>
                </div>
				<P>Foodie is a leading food delivery chain, committed to delivering quality food at your doorstep.</P>
				<P>Every year they cater to the needs of thousands of foodies by offering food packages for every occasion, with guaranteed customer satisfaction.</P>
			</div>
		</div>
	</div>
	<div class="content-area">
		<div class="main">
		    <h3>Choose from a wide variety of available food packages!</h3>
			<div class="food">
				<div class="food-card veg-food-card">
                	<strong>Veg Thali includes:</strong>
                	<ul>
                		<li>Dal fry
                		<li>Mixed vegetables
                
                		<li>2 Tandoori Roti and 1 Naan (Butter/Garlic)
                		<li>Salad
                	</ul>
                	<b>Rs. 120</b>
                	<b style="text-align: right"> <br></b>
                </div>
                <div class="food-card non-veg-food-card">
                	<strong>Non-veg Thali includes:</strong>
                	<ul>
                		<li>Dal fry
                		<li>Kadhai chicken 
                		<li>Butter/Garlic naan
                		<li>Salad
                	</ul>
                	<b>Rs. 170</b>
                	<b style="text-align: right"> <br></b>
                </div>
                <div class="food-card non-veg-food-card">
                	<strong>Non-veg Combo:</strong>
                	<ul>
                		<li>Dal fry
                		<li>Kadhai chicken
                		<li>Butter/Garlic naan
                		<li>Salad
                		<li>Soft drink of choice
                	</ul>
                	<b>Rs. 200</b>
                	<b style="text-align: right"> <br></b>
                </div>
			</div>
		</div>
	</div>
</main>
</body>
</html> -->
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<div class="container-fluid" >
		<div class="jumbotron">
	 <div class="display-3 text-center" >Flourish and Blotts</div>
	 <div  class="display-6">At Flourish and Blotts we dont just sell books.we see experience.In the name of Merlin's beard there is no book that you cannot find here.
		 Witches and wizards,This is your one stop destination for every book here. Even the <span class="text-warning">
         book of invisibility
		 </span>.Visit us at <span class="text-success">
			 North Side Diagon alley
		 </span> today:
		</div>
	    </div>
		 <div class="theTable">
		<br> Popular books are:
		<div class="table table-bordered table-responsive table-sm">
			<thead>
				<th>
					Book Cover
				</th>
				<th>
					Book Title
				</th>
				<th>
					Author
				</th>
				<th>
					Cost
				</th>
			</thead>
			<tbody>
				<tr>
					<td>
						<img src="/hello/src/assets/book1.jpg" class="rounded" alt="">
					</td>
					<td>Life and Lies of Dumbledore</td>
					<td>Rita Skeeter</td>
					<td>10 <span class="badge">galleons</span> </td>
				</tr>
				<tr>
					<td>
						<img src="/hello/src/assets/book2.jpg" class="rounded-circle" alt="">
					</td>
					<td>Holiday with hags</td>
					<td>Gilederoy Lockhart</td>
					<td>5 <span class="badge">galleons</span> </td>
				</tr>
				<tr>
					<td>
						<img src="/hello/src/assets/book3.jpg" class="img-thumbnail" alt="">
					</td>
					<td>Monster:Book of Monsters</td>
					<td>Edwardus Lima</td>
					<td>4 <span class="badge">galleons</span> </td>
				</tr>
			</tbody>
		</div>
	 </div>
	 <div class="card">
		 <div class="card-header">Verify that you are magical</div>
		 <div class="card-body">Card-body</div>
		 <div class="card-footer">Card-footer</div>
		</div>
	</div>
	
</body>
</html>